@import 'reset';
@import 'fonts';


.tab-inner {
    max-width: 290px;
    margin: 0 auto;
}

.form-link {
    color: #9eabad;
    font-family: 'Montserrat Regular', sans-serif;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -1px;
        background-color: #dae0e1;
    }
}

body {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 13px;
    color: #9eabad;

    .form__wrapp {
        width: 100%;
        height: 100%;
        background-image: url(../images/payment-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        .tab {
            display: flex;
            flex-direction: column;
            background-color: #f4f5f5;
            width: 336px;

            .form__header {
                height: 72px;
                background-color: #efe5aa;
                color: #6e7f7b;
                padding: 20px 0;
                margin-bottom: 45px;

                .header-content {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .client-name {
                        font-size: 14px;
                        line-height: 14px;
                        font-family: 'Montserrat Bold', sans-serif;
                    }

                    p {
                        font-size: 10px;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                    }

                    .header__price {
                        font-size: 36px;
                        font-family: 'Montserrat Bold', sans-serif;
                        color: #637570;
                    }
                }
            }

            label {
                display: block;
                margin-bottom: 10px;
            }

            input,
            select {
                display: inline-block;
                height: 45px;
                padding: 12px;
                border: 2px solid #b4c1c4;
                font-family: 'Montserrat Regular', sans-serif;
                font-size: 13px;
                color: #727f82;
                background-color: #f4f5f5;
            }

            .card {
                width: 100%;
                margin-bottom: 26px;
            }

            .month {
                width: 175px;
                margin: 0 15px 26px 0;
            }

            .year {
                width: 95px;
            }

            .cvv {
                width: 95px;
                margin: 0 10px 30px 0;
            }

            .bottom-line {
                display: block;
                height: 1px;
                width: 100%;
                background-color: #e4e7e8;
                margin-bottom: 30px;
            }

            .payment {
                display: block;
                width: 100%;
                padding: 15px 0 13px 0;
                border: none;
                font-size: 20px;
                font-family: 'Montserrat Bold', sans-serif;
                color: #fff;
                background-color: #26b168;
                margin-bottom: 20px;
                cursor: pointer;
                transition: all .5s ease;
                &:hover {
                    background-color: lighten(#26b168, 10%);
                }
            }

            .bottom-link {
                text-align: center;
                margin-bottom: 20px;

                .cancel {
                    display: inline-block;
                    font-size: 12px;
                }
            }

        }
    }
}