@font-face {
  font-family: "Source Sans Pro Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "Source Sans Pro Bold", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SourceSansPro-Bold.woff") format("woff");
}
@font-face {
  font-family: "Tunga Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Tunga.woff") format("woff");
}