* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  background-color: #2b81ac;
}
body .all_wrap {
  background-color: #3399cc;
  margin: 25px;
  padding: 35px 0 135px;
  color: #fff;
  height: 100%;
}
body .all_wrap .container {
  margin: 0 auto;
  background-color: #3399cc;
  max-width: 986px;
  width: 90%;
}
body .all_wrap .container .header {
  font-family: 'Lucida Sans Unicode';
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
}
body .all_wrap .container .weather_wrap {
  margin: 35px 0;
}
body .all_wrap .container .footer {
  font-size: 16px;
  font-weight: 500;
}
ul {
  background-color: #fff;
  font-size: 0;
  width: 100%;
  padding: 2px;
}
ul li {
  list-style: none;
  display: inline-block;
  height: 147px;
  padding: 35px 0;
  font-size: 22px;
  text-align: center;
  line-height: 37px;
  width: calc(25% - 4px);
  margin: 2px;
  transition: all 0.2s ease-in;
}
ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  margin: 10px;
}
ul li div .wi {
  font-size: 38px;
  padding-left: 10px;
}
ul .lisbon {
  background-color: #3399cc;
}
ul .paris {
  background-color: #33cccc;
}
ul .belgrade {
  background-color: #996699;
}
ul .moscow {
  background-color: #c24747;
}
ul .tel-avive {
  background-color: #e2674a;
}
ul .cair {
  background-color: #ffcc66;
}
ul .new-york {
  background-color: #99cc99;
}
ul .new-delhi {
  background-color: #669999;
}
ul .san-francisco {
  background-color: #cc6699;
}
ul .tokyo {
  background-color: #339966;
}
ul .sydney {
  background-color: #666699;
}
ul:hover li {
  opacity: 0.7;
}
ul:hover li:hover {
  opacity: 1;
}
.w-50 {
  width: calc(50% - 4px);
}
.w-100 {
  width: calc(100% - 4px);
}
