* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

button,
.btn {
  display: inline-block;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  width: 90%;
}

.link {
  text-decoration: none;
  color: #fff;
}

.roboto-light, body .product-card .product-card__info .product-card__price, body .header .header__menu-items .header__menu-link {
  font-family: "Roboto Condensed Light", sans-serif;
  font-weight: 300;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  background: -moz-linear-gradient(45deg, #673e97 0%, #ab70af 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #673e97), color-stop(100%, #ab70af));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, #673e97 0%, #ab70af 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, #673e97 0%, #ab70af 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, #673e97 0%, #ab70af 100%);
  /* ie10+ */
  background: linear-gradient(45deg, #673e97 0%, #ab70af 100%);
  /* w3c */
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-layer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -5;
}
body .header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 28px 0 62px;
}
body .header .header_logo {
  margin-left: 4px;
}
body .header .header__menu-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 41px;
}
body .header .header__menu-items li + li {
  margin-left: 50px;
}
body .header .header__menu-items .header__menu-link {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
}
body .header .header__menu-items .header__menu-link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  width: 0;
  height: 0;
  transition: all 0.3s ease;
}
body .header .header__menu-items .header__menu-link:hover::before {
  width: 100%;
  height: 1px;
}
body .header .hamburger-menu__box {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 1px;
  background-color: #fff;
}
body .header .hamburger-menu__box::before, body .header .hamburger-menu__box::after {
  content: "";
  width: 20px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 0;
}
body .header .hamburger-menu__box::before {
  top: -6px;
}
body .header .hamburger-menu__box::after {
  bottom: -6px;
}
body .product-card {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .product-card .product-card__gallery {
  position: relative;
  width: 66.66%;
  height: 430px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 50px;
}
body .product-card .product-card__gallery::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -12px;
  left: 3px;
  background-image: url(../images/photo-layer.png);
  background-repeat: no-repeat;
  background-position: right top 75px;
}
body .product-card .product-card__gallery .title {
  position: absolute;
  top: 17%;
  left: 49%;
  transform: translate(-46%);
  color: #fff;
  text-transform: uppercase;
  font-size: 80px;
  font-weight: bold;
}
body .product-card .product-card__gallery .product-card__photo {
  z-index: 10;
}
body .product-card .product-card__gallery .slides {
  position: absolute;
  width: 160px;
  bottom: 27px;
  left: 176px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
body .product-card .product-card__gallery .slides .slides__pic {
  display: inline-block;
  box-shadow: 0 0 0 2px #fff;
  width: 38px;
}
body .product-card .product-card__gallery .slides .slides__pic img {
  width: 100%;
}
body .product-card .product-card__gallery .add-small {
  position: absolute;
  bottom: 85px;
  right: 32px;
  z-index: 20;
}
body .product-card .product-card__gallery .add-small::before, body .product-card .product-card__gallery .add-small::after {
  position: absolute;
  content: "";
  background-color: #000;
}
body .product-card .product-card__gallery .add-small::before {
  width: 1px;
  height: 20px;
  top: -9px;
  left: 50%;
}
body .product-card .product-card__gallery .add-small::after {
  width: 20px;
  height: 1px;
  top: 50%;
  left: -9px;
}
body .product-card .product-card__info {
  position: relative;
  padding: 43px 32px 0 30px;
}
body .product-card .product-card__info .close {
  position: absolute;
  top: 16px;
  right: 18px;
  transform: rotate(45deg);
}
body .product-card .product-card__info .close::before, body .product-card .product-card__info .close::after {
  position: absolute;
  content: "";
  background-color: #d7d7d7;
}
body .product-card .product-card__info .close::before {
  width: 1px;
  height: 20px;
  top: -9px;
  left: 50%;
}
body .product-card .product-card__info .close::after {
  width: 20px;
  height: 1px;
  top: 50%;
  left: -9px;
}
body .product-card .product-card__info .badge {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ffa60d;
  color: #fff;
  padding: 4px 5px;
  margin-bottom: 7px;
}
body .product-card .product-card__info .product-card__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  width: 185px;
  word-wrap: break-word;
  margin-bottom: 10px;
}
body .product-card .product-card__info .product-card__title .title-accent {
  color: #5e4fff;
}
body .product-card .product-card__info .product-card__rate {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}
body .product-card .product-card__info .product-card__rate .rate-description {
  font-size: 12px;
  line-height: 19px;
  font-weight: 500;
  padding-right: 7px;
}
body .product-card .product-card__info .product-card__price {
  font-size: 23px;
  margin-bottom: 20px;
}
body .product-card .product-card__info .product-card__size {
  margin-bottom: 35px;
}
body .product-card .product-card__info .product-card__size .size-list-name {
  font-size: 12px;
  line-height: 15px;
}
body .product-card .product-card__info .product-card__size .size-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -8px;
}
body .product-card .product-card__info .product-card__size .size-list .size-list-item .size-num {
  display: none;
}
body .product-card .product-card__info .product-card__size .size-list .size-list-item .size-num:checked + label {
  border-color: #000;
}
body .product-card .product-card__info .product-card__size .size-list .size-list-item .size-num-text {
  display: inline-block;
  text-align: center;
  padding: 5px;
  width: 25px;
  height: 25px;
  font-size: 14px;
  border: 1px solid transparent;
}
body .product-card .product-card__info .btn {
  display: block;
  width: 118px;
  padding: 7px 0;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease;
  border-width: 1px;
  border-style: solid;
}
body .product-card .product-card__info .btn-card {
  background-color: #a200b8;
  border-color: #a200b8;
  color: #fff;
  margin-bottom: 3px;
}
body .product-card .product-card__info .btn-card:hover {
  background-color: #1b001f;
  border-color: #1b001f;
}
body .product-card .product-card__info .btn-wish {
  border-color: #000;
  color: #000;
}
body .product-card .product-card__info .btn-wish:hover {
  border-color: #5e4fff;
  background-color: #5e4fff;
  color: #fff;
}