@font-face {
  font-family: "Raleway Light";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Raleway-Light.woff") format("woff");
}
@font-face {
  font-family: "Raleway Regular";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Raleway-Regular.woff") format("woff");
}
@font-face {
  font-family: "Raleway Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Raleway-Bold.woff") format("woff");
}
@font-face {
  font-family: "Raleway Heavy";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/raleway-heavy.woff") format("woff");
}