@font-face {
    font-family: 'Georgia Regular', serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Georgia.woff') format('woff');
}

@font-face {
    font-family: 'Georgia Italic', serif;
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Georgia-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Proxima Nova Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ProximaNova-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Playfair Display Regular', serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Futura PT Heavy', sans-serif;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/FuturaPT-Heavy.woff') format('woff');
}